<nav class="w3-bar " style="padding: 10px 10px">
    <div class="w3-left">
        <div class="w3-bar-item">
            <div class="site-title">
                <h1 class="w3-xlarge" style="text-transform: uppercase">
                    <a href="/" style="font-weight: bolder">Blog Ninja     </a>
                </h1>

                <span class="w3-text-dark-gray " style="text-transform: uppercase">
                    A net ninja site
                </span>
            </div>
        </div>
    </div>
    <div class="w3-right w3-text-grey w3-margin-top">
        <div class="w3-bar-item">
            <a href="/">Blogs</a>
        </div>
        <div class="w3-bar-item">
            <a href="/about">About</a>
        </div>
        <div class="w3-bar-item">
            <a href="/blogs/create">New Blog</a>
        </div>
    </div>

</nav>