<%- include('../partials/header.ejs') %>

<%- include('../partials/nav.ejs')%>
<div class="w3-padding-64">
    <div class="w3-row">
        <div class="w3-col l1 m12 s12">
            &nbsp;
        </div>
        <div class="w3-col l10 m12 s12">
            <p>
                OOPs, page not found :)
            </p>
        </div>
    </div>

</div>
<%- include('../partials/footer.ejs')%>